
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-search</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <a href="http://localhost:3000/library">
        <button>Home</button>
    </a>
    <form method="POST" action="/search">
        Book ID:<input type="text" name="bk_id" placeholder="Enter searched book name">
        <button>Search</button>
        </form>        
    
    
</body>
</html>
